## Preprocessing

In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [18]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [19]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff].index.tolist()
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [22]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts = application_df['CLASSIFICATION'].value_counts()
filtered_value_counts = value_counts[value_counts > 1]
print(filtered_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [23]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 500
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff].index.tolist()
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION','INCOME_AMT','SPECIAL_CONSIDERATIONS'])

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-25-f199198450cb>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [46]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
num_input_features = len(X_train[0])
hidden_nodes_layer1 =  128
hidden_nodes_layer2 = 64
hidden_nodes_layer3 = 32


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=num_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

#another layer for increased accuracy
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_26 (Dense)            (None, 128)               5760

 dense_27 (Dense)            (None, 64)                8256

 dense_28 (Dense)            (None, 32)                2080

 dense_29 (Dense)            (None, 1)                 33

=================================================================
Total params: 16129 (63.00 KB)
Trainable params: 16129 (63.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [53]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=30)

Epoch 1/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 2/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7420
Epoch 3/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7418
Epoch 4/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5311 - accuracy: 0.7411
Epoch 5/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5315 - accuracy: 0.7427
Epoch 6/30
804/804 [==============================] - 4s 5ms/step - loss: 0.5310 - accuracy: 0.7420
Epoch 7/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7420
Epoch 8/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7422
Epoch 9/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7429
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5308 - accuracy: 0.7419
Epoch 11/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 12/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5309 - accuracy: 0.7420
Epoch 13/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5309 - accuracy: 0.7420
Epoch 14/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5314 - accuracy: 0.7423
Epoch 15/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7421
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7423
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7419
Epoch 18/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7424
Epoch 19/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5309 - accuracy: 0.7420
Epoch 20/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5309 - accuracy: 0.7421
Epoch 21/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7420
Epoch 22/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7419
Epoch 23/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5301 - accuracy: 0.7422
Epoch 24/30
804/804 [==============================] - 4s 4ms/step - loss: 0.5306 - accuracy: 0.7422
Epoch 25/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5310 - accuracy: 0.7419
Epoch 26/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.7426
Epoch 27/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7418
Epoch 28/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7424
Epoch 29/30
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7429
Epoch 30/30
804/804 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7420

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
print('the three methods I tried to increase the accuracy score were to add an extra layer, increase the neurons, and change the epochs to prevent overfitting.')

268/268 - 0s - loss: 0.5738 - accuracy: 0.7252 - 420ms/epoch - 2ms/step
Loss: 0.5738028287887573, Accuracy: 0.7252478003501892
the three methods I tried to increase the accuracy score were to add an extra layer, increase the neurons, and change the epochs to prevent overfitting.

In [50]:
# Export our model to HDF5 file
model_filename = 'model.h5'
nn.save(model_filename)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(